server:
  port: 8081

spring:
  datasource:
    #    url: jdbc:h2:mem:spring_boot_react
    url: jdbc:postgresql://localhost:5432/spring_boot_react
    username: guanghuiw
    password: ca$hc0w
  jpa:
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      #      ddl-auto: create-drop
      ddl-auto: update
    generate-ddl: true
  h2:
    console:
      enabled: true
      path: /h2-console
  #  dep: spring-boot-starter-data-rest
  data:
    rest:
      base-path: /api/v1